<body>
  <div class="container">
    <h1 class="title">Stupid Coaching</h1>

    <p class="w100">Ask your coach anything</p>
    <div>
      <form method="get" action="/answer">
        <input class="question" type="text" name="question">
        <input class="submit-btn" type="submit" value="Ask!">
      </form>
    </div>
  </div>
</body>
