// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: helvetica;
}

.header {
  min-width: 500px;
  display: flex;
  height: 60px;
  margin-top: 15px;

  h1 {
    margin: auto;
  }
}

.container {
  width: 250px;
  margin: auto;

}

.prompt {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
}


.form {
  height: 50px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  width: 170px;
  height: 30px;
  border: solid 1px #a19d9e;
  border-radius: 5px 0px 0px 5px;
  margin-right: 0;
  font-size: 14px,
}

.submit-btn {
  width: 70px;
  height: 34px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: #1b79b2;
  color: white;
  cursor: pointer;
  margin-left: 0;
  font-size: 14px,
}



// body {
//   font-family: helvetica;
// }

// .title {
//   width: 100%;
//   display: block;
//   font-size: 30px;
//   line-height: 1.2;
//   text-transform: uppercase;
//   text-align: center;
// }

// .container {
//   display: flex;
//   flex-wrap : wrap;
//   justify-content: center;
//   align-items: center;
//   width: 560px;
//   text-align: center;
// }

// .w100 {
//   flex-wrap: wrap;
//   width: 100%;
// }

// .question {
//   border: 3px solid #e0e0e0;
//   background-color: #fff;
//   flex-wrap: wrap;
//   align-items: flex-end;
//   width: 100%;
// }

// .submit-btn {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   width: 100%;
//   margin: 15px 0px;
// }

// .card {
//   text-align: left;
//   background-color: grey;
//   width: 75vw;
//   border-radius: 15px;
//   padding: 20px;
//   margin: 20px;
//   display: block;
// }
